.lobster{
    font-family:'Lobster Two', serif;
}

/* Mobile responsive style */

@media (max-width: 768px){
    .classes-content h2{
        font-size: 1.5rem;
    }

     .classes-content p{
        font-size: 0.875rem;
     }

     .top-space{
        margin-top: 2rem;
     }

}