@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.loboto{
    font-family: "Lobster Two", serif;
}